
.vs/PT-Project/FileContentIndex/a7c04b88-db1b-48e9-9a16-db958c8be176.vsidx
.vs/PT-Project/FileContentIndex/553ef583-da22-46cd-949b-80f9d34ed9e3.vsidx
.vs/PT-Project/FileContentIndex/c8fe757a-3644-4313-b769-faf4cf44a9fb.vsidx
.vs/PT-Project/FileContentIndex/1b22dec3-2fb5-4467-ab71-7b82076bf0a3.vsidx
.vs/PT-Project/v17/.suo
.vs/PT-Project/FileContentIndex/23bb210e-d649-4afb-bcb2-a76140b90582.vsidx
.vs/PT-Project/v17/Browse.VC.db
.vs/PT-Project/v17/Browse.VC.db-shm
.vs/PT-Project/v17/Browse.VC.db-wal
.vs/PT-Project/v17/Browse.VC.opendb
.vs/PT-Project/v17/DocumentLayout.json
.vs/PT-Project/v17/ipch/AutoPCH/4a78ab185bda4e65/CRECTANGLE.ipch
.vs/PT-Project/v17/ipch/AutoPCH/b652b5c61f2be449/MAIN.ipch
.vs/PT-Project/v17/ipch/AutoPCH/c8c6b30de978c672/ADDRECTACTION.ipch
.vs/PT-Project/v17/ipch/AutoPCH/d4ae6809e04b1e5e/CFIGURE.ipch
.vs/PT-Project/v17/ipch/AutoPCH/f61d21a3c48c87ee/CCIRCLE.ipch
.vs/PT-Project/v17/ipch/AutoPCH/d99e055ad2b2ec9a/CTRIANGLE.ipch
.vs/PT-Project/FileContentIndex/e9aa78c5-cee3-441e-82f3-5acec99b31c5.vsidx
.vs/PT-Project/v17/ipch/AutoPCH/cb472e2b503bccc8/CHEXAGON.ipch
