
.vs/PT-Project/FileContentIndex/a7c04b88-db1b-48e9-9a16-db958c8be176.vsidx
.vs/PT-Project/FileContentIndex/553ef583-da22-46cd-949b-80f9d34ed9e3.vsidx
.vs/PT-Project/FileContentIndex/c8fe757a-3644-4313-b769-faf4cf44a9fb.vsidx
.vs/PT-Project/FileContentIndex/1b22dec3-2fb5-4467-ab71-7b82076bf0a3.vsidx
.vs/PT-Project/v17/.suo
.vs/PT-Project/FileContentIndex/23bb210e-d649-4afb-bcb2-a76140b90582.vsidx
.vs/PT-Project/v17/Browse.VC.db
.vs/PT-Project/v17/Browse.VC.db-shm
.vs/PT-Project/v17/Browse.VC.db-wal
.vs/PT-Project/v17/Browse.VC.opendb
.vs/PT-Project/v17/DocumentLayout.json
.vs/PT-Project/v17/ipch/AutoPCH/4a78ab185bda4e65/CRECTANGLE.ipch
.vs/PT-Project/v17/ipch/AutoPCH/b652b5c61f2be449/MAIN.ipch
.vs/PT-Project/v17/ipch/AutoPCH/c8c6b30de978c672/ADDRECTACTION.ipch
.vs/PT-Project/v17/ipch/AutoPCH/d4ae6809e04b1e5e/CFIGURE.ipch
.vs/PT-Project/v17/ipch/AutoPCH/f61d21a3c48c87ee/CCIRCLE.ipch
.vs/PT-Project/v17/ipch/AutoPCH/d99e055ad2b2ec9a/CTRIANGLE.ipch
.vs/PT-Project/FileContentIndex/e9aa78c5-cee3-441e-82f3-5acec99b31c5.vsidx
.vs/PT-Project/v17/ipch/AutoPCH/cb472e2b503bccc8/CHEXAGON.ipch
.vs/PT-Project/FileContentIndex/44a95952-145e-4796-a545-ee11a9a839a1.vsidx
.vs/PT-Project/FileContentIndex/4947b12b-2dd8-4862-8b69-d4bf35813500.vsidx
.vs/PT-Project/FileContentIndex/4f93de3c-d1c3-4954-8988-479ae3520661.vsidx
.vs/PT-Project/FileContentIndex/5f9d35fb-8e1c-4d31-beca-9435f4734c4f.vsidx
.vs/PT-Project/FileContentIndex/e8c5783b-79a4-41a1-94fa-5712eec327c4.vsidx
.vs/PT-Project/FileContentIndex/33f45096-21ee-4a07-a12b-6b06b2597006.vsidx
.vs/PT-Project/FileContentIndex/6359b331-0425-408f-a587-dec19a7e6434.vsidx
.vs/PT-Project/FileContentIndex/693ee5c3-fc7e-4b6b-8e44-a897d227cab1.vsidx
.vs/PT-Project/FileContentIndex/9a6cd18f-c70d-45ff-b6a7-8b9ac410dca9.vsidx
.vs/PT-Project/FileContentIndex/7cb32c7b-53f6-4f51-b752-fc71db85ff5d.vsidx
.vs/PT-Project/FileContentIndex/51951ed4-ac24-4ba8-ba1a-5ea0b5b0833f.vsidx
.vs/PT-Project/FileContentIndex/216e37cd-a69a-407b-9490-68b8fdad5f07.vsidx
.vs/PT-Project/FileContentIndex/a5151a2a-8afb-4921-92e0-0c356491e85d.vsidx
.vs/PT-Project/FileContentIndex/e60a4d7e-481a-4210-968e-0f886a39023b.vsidx
.vs/PT-Project/FileContentIndex/fd7635c0-6b35-4b65-b07a-22a4432b2aeb.vsidx
.vs/PT-Project/FileContentIndex/613ea671-d89b-4ffc-83c7-0235410a5cff.vsidx
.vs/PT-Project/FileContentIndex/75dcfa2b-867b-4e4d-98b5-508d5fd13b86.vsidx
.vs/PT-Project/FileContentIndex/8349fd4c-de56-4092-9e1d-7a22097a4bad.vsidx
.vs/PT-Project/FileContentIndex/b76b9649-ac4d-444e-9218-cfaf187d2ecf.vsidx
.vs/PT-Project/FileContentIndex/e8ca2bb9-afa0-46d1-963e-e8ded2f9b39e.vsidx
.vs/PT-Project/FileContentIndex/a3624e7c-7b48-4bf5-8f10-c5fd31e57c98.vsidx
.vs/PT-Project/FileContentIndex/1eb3c5d2-12f1-4e2a-9fc4-402796587b07.vsidx
.vs/PT-Project/FileContentIndex/685eb9e0-5cfe-4279-9aa9-968c77672645.vsidx
